<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shailu.jankari">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.shailu.jankari.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.shailu.jankari.ui.main.MainActivity"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name="com.shailu.jankari.ui.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity android:name="com.shailu.jankari.ui.splash.SplashActivity"
            android:launchMode="singleTop">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
    </application>

</manifest>